/* Form CSS */

body {
     background-color:#046DB2;
}

#splash .button {
        margin-top:200px;
 }

h1#logo {
    background-image: url('/images/logotransparent.png');

    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    margin: 50% auto 0;
    max-width: 524px;
    padding-top: 160px;
    width: 80%;
 }
 h1#logo a {
         display:block;
         height:100%;
         width:100%
 }
    
 #splash{
  background-image: url('/images/splash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  text-indent: -9999px;

 }

    #welcomeDave {
      padding-top: 25px;
      color:#fff;
    }

    #searchForm {
        height:83%;
     }
    
   .search h2{
      color:#FFF;
    }
    form.custom .custom.dropdown{
      height: 45px;
    }
    .search .textboxes label{
      margin-bottom: 10px;
      color:#FFF;
      height: 48px;
      line-height: 48px;
    }
    
    form.custom .custom.dropdown{
      padding-top: 5px;
    }
    form.custom .custom.dropdown .selector{
      top: 5px;
    }
    .search .prefix, .search .searchbox {
      height: 48px;
      line-height: 48px;
    }
    .sliderLabel {
    font-size:1.1em;
    color:#fff;
    }
    .range-slider {
         margin-top:0px;   
     }
section.map {  
    background-image: url(/images/map.PNG);
    background-position:center;
    background-size: contain 100%;
    background-repeat:no-repeat;

    height:400px;
    width: 100%;
}    
    
.top-bar {
    background-color:#FFF;
    background-image: url('/images/bluelogosml.png');
    background-size: contain;
    background-repeat:no-repeat;    
    background-position:right;
    height:5%;  
}

.top-bar .name h1 {
    line-height: 35px;
}

.top-bar .name h1 a {
    color: #046DB2;
    display: block;
    font-weight: normal;
    padding: 0 15px;
    width: 50%;
}
    
.glyphicons-icon {
  width: 48px;
  height: 48px;
  margin: 0 8px 0 0;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url(/images/glyphicons.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  *margin-right: .3em;
}

.parallax-background {
	background-color: #0078A0;
	height: 620px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	position: fixed;
	width: 100%;
}

.intro-text {
	font-size: 50px;
	color: #fff;
	text-align: center;
	margin-top: 15%;
}
.parallax-content {
	max-width: 100%;
	position: relative;
	top: 500px;
	padding: 50px;
	font-size: 20px;
	background-color: #fff;
}    

.slick-slider {
    margin-bottom: 0px;
}


.slick-slide {
     position:relative;
 }

.slick-slider .info_overlay {
    display:none;
    background-image:url('/images/photofade.png');
    background-position: bottom left;
    background-repeat:repeat-x;
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    padding: 50% 10px 0 10px;
    color:#FFF;
 }
 
 .slick-slider .slick-active .info_overlay {
    display:block;
 }
 
   
  
 /*Navigation*/
 

#directions {
    height: 10%;
    background: #046DB2;
}

#map-canvas {
    height: 38%;
}

#next-step-image-container {
    height: 48%;
}

#next-step-image {
    height: 100%;
    background-image:url('http://cbssacramento.files.wordpress.com/2012/11/club-retro.jpg');

    background-position:center;
    background-size: cover;
    background-repeat:no-repeat;    
}

#next-step-image .infoview {
    height: 100%;  
    background-image:url('/images/photofade.png');
    background-position: bottom left;
    background-repeat:repeat-x;
    color:#FFF;
    position: relative;
}

.infoview div {
     position:absolute;
     bottom:0px;
 }
 
#next-step-image .infoview h2 {
    font-size: 1.2em;
    margin: 0.83em 10px 0;
    color: #fff;
}

#next-step-image .infoview h3 {
    font-size: 1em;
    margin: 0.5em 10px 0;
    color: #fff;
}

#next, #previous, #step {
    color: white;
}

#next, #previous {
    width: 70px;
    padding: 5px;
    text-align: center;
}

#next {
    float: right;
}

#previous {
    float: left;
}

#step {
    float: left;
    padding: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 120px);
    height: 100%;
}
    

#step div {
background-position:bottom left;
background-repeat:no-repeat;
}

#directions #previous {
     background-image: url('/images/arrowleft.png');
    background-repeat:no-repeat;
    background-position:50% 50%;
    text-indent: -9999px;
    width:36px;
    height: 100%;
}
#directions #next {
     background-image: url('/images/arrowright.png');
    background-repeat:no-repeat;
    background-position:50% 50%;
    text-indent: -9999px;
    width:36px;
    height: 100%;
}

.turn-left {
  background-image: url('/images/turnleft.png');
padding-left:90px;
min-height:65px;
text-align:left;
    height: 100%;
}

.turn-right {
  background-image: url('/images/turnright.png');
padding-left:90px;
min-height:65px;
text-align:left;
    height: 100%;
}

